@font-face{
    font-family: 'miFuente';
    src: url(../font/GothamLight.ttf);
}
@font-face{
    font-family: 'miFuente2';
    src: url(../font/GothamBold.ttf);
}
.nav-item{
    font-family: 'miFuente';
    font-size: 20px;
}
#navbar{
    z-index: 10;
    opacity: 0.8;
}

#carouselExampleIndicators{
    margin-top: -100px;
}
#ribbon{
    background-color: rgb(175, 175, 175);
    background-image: repeating-linear-gradient(45deg, transparent, transparent 25px, rgba(144,144,144,0.5) 25px, rgba(144,144,144,0.5) 40px) ;
    font-family: 'miFuente';
}
#ribbon1{
    background-color: rgb(175, 175, 175);
    background-image: repeating-linear-gradient(45deg, transparent, transparent 25px, rgba(144,144,144,0.5) 25px, rgba(144,144,144,0.5) 40px) ;
    font-family: 'miFuente';
}
#title{
    font-family: 'miFuente';
}
#par{
    font-family: 'miFuente';
}


#ribbon::after{
    content: '';
    background-color: transparent;
    display: block;
    height: 20px;
    width: 50%;
    margin: 0 auto;
    position: relative;
    left: auto;
    margin-top: -40px;

}
#sep-ribbon{
    background-color: #D3A303;
    position: relative;
    z-index: 2;

    height: 150%;
    margin-left: 0%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}


#sep-ribbon::after{
    content: '';
    background-color: transparent;
    display: block;
    height: 100px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    left: auto;
    margin-top: 0px;
    

}

#birthday{
    border-radius: 1em;
    opacity: 70%;
    background-color: rgb(191, 189, 188);
    position: relative;
    width: 60%;
    height: 50%;
    margin-top: -20px;
    z-index: 10;
    box-shadow: 0 0 15px rgba(0,0,0,0.9);
}

#birthday img{
    position: relative;
    margin-top: 10px;
}

.text-shadow{
    text-shadow: 0 3px 3px rgba(0,0,0,0.9);
}


#separator-ribbon{
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;
}
#separator-ribbon .content{
    width: 150%;
    height: 150%;
    margin-left: -25%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.card-border{
    border: solid 10px white;
    border-radius: 20px;
    overflow: hidden;
    transition: all ease-out 0.5s;
}

.card-border:hover{
    transform: scale(1.05);
}

#informacion{
    background-color: rgb(255,255,255);
    background: url(../img/Fondo_Web.png), linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(99,196,255,1) 57%);
    background-size: 100%;
    margin-top: -50px;
}

#separator-mas{
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;
}
#separator-mas .content{
    background: url(../img/bg-05.jpg);
    width: 110%;
    height: 100px;

    margin-left: -5%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;

}

#informacion1{
    background-color: rgb(255,255,255);
    background: url(../img/Fondo_Web.png), linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(99,196,255,1) 57%);
    background-size: 100%;
    margin-top: -100px;
}
#quienes{
    background-color: rgb(255,255,255);
    background: url(../img/Fondo_Web.png), linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(99,196,255,1) 57%);
    background-size: 100%;
    margin-top: -30px;
    font-family: 'miFuente';
}
#qst{
    margin-top: 70px;
}

#texto{
    margin-top: 20px;
    
}
.card-border1{
    border-radius: 20px;
    overflow: hidden;
    transition: all ease-out 0.5s;
}
#structure{
    height: 2%;
    width: 100%;
    
}
.card-border1:hover{
    transform: scale(1.05);
}

.social-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -10px;
  }
  .social-buttons__button {
    margin: 10px 5px 0;
  }
  
  .social-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    width: 70px;
    height: 70px;
    text-decoration: none;
  }
  .social-button__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border-radius: 100%;
    background: #fff;
    text-align: center;
  }
  .social-button i,
  .social-button svg {
    position: relative;
    z-index: 1;
    transition: 0.3s;
  }
  .social-button i {
    font-size: 28px;
  }
  .social-button svg {
    height: 40%;
    width: 40%;
  }
  .social-button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 0;
    height: 0;
    border-radius: 100%;
    transition: 0.3s;
  }

